<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<appSettings>
		<add key="LocationTravelTimesFile" value="travel-times.txt"/>
		<add key="LocationsListingFile" value="locations-list.txt"/>
	</appSettings>
</configuration>